<div class="container">
  <h1 class="banner text-center">My cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category">
        <%= link_to cocktail.name , cocktail_path(cocktail) %>
       </div>
    <% end %>
  </div>
  <br>
  <p><%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-primary" %></p>
</div>

